<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="style.css" type="text/css" rel="stylesheet">
<title>Home</title>
</head>
<body class="bg-lighter text-center">
	<h1 th:text="${user.name + ' ' + user.surname}">Abc Abc</h1>
	<h2>I TUOI CONTI</h2>
	<div th:each="account : ${accounts}" class="mb-3"> <span
		th:text="${'Codice: '+account.id+', Saldo: '+account.balance+' euro'}">Codice:
			123, Saldo: 123 euro</span> <a
		th:href="@{/AccountDetailsPage(accountId=${account.id})}"
		class="btn btn-danger">Trasferisci denaro/Dettagli</a>
	</div>
	<a th:href="@{/Logout}" class="btn btn-danger">Logout</a>
</body>
</html>